block content
	link(rel="stylesheet" type="text/css" href="/css/global.css")
	link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
	h2 All Admins
	#result
	script(src="/js/jquery-1.11.3.min.js")
	script(src="/js/js.js")
	script(src="/js/adminindex.js")