extends layout 
block content
	h2 Delete Admin
	h4 Info:
		#result
	form(id="delete-admin-form" action="/adminData/:post_id" method="delete" accept-charset="utf-8" ajax="true")
		h3 Click below to delete
		input(type="submit" value="Delete Admin")
		script(src="/js/jquery-1.11.3.min.js")
		script(src="/js/bootstrap.js")
		script(src="/js/js.js")
		script(src="/js/deleteAdmin.js")