doctype html
html
 head
  meta(charset="utf-8")
  link(rel="stylesheet" type="text/css" href="/css/style.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  script(src="/js/libs/jquery-1.11.2.min.js")
  script(src="/js/js.js")
  script(src="/js/ckeditor/ckeditor.js")
 body
  .headerWrap
   div(class="customNav")
    h2 Hello
   block content