doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device.width, ititial-scale=1")
		script(src="public/js/boostrap.min.js")
	body
		.headerWrap
			div(class="customNav")
		h2 Hello
		script(src='/js/1.11.3/jquery.min.js')
		script(src='/js/bootstrap.js')
		block content
	